/* Background */
body {
    font-family: 'monospace';
    background-color: #222A35;
    color: white;
    padding: 20px;
    margin: 20px;
}

/* General */
h1 {
    text-align: center;
}

#instruction-panel {
    display: flex;
    justify-content: center;
}

header {
    text-align: center;
}

.container > section {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    background-color: #313f52;
    padding: 20px;
}

#webcam {
    display: block;
    margin: 0 auto;
}

/* Buttons */
#classes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

/* Media queries */
@media (min-width: 1450px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        background-color: #313f52;
    }
    
    .flex-container>section {
        min-width: 400px;
        padding: 20px;
        margin: 0 auto;
    }
}

