/* Background */
body {
    font-family: 'monospace';
    background-color: #222A35;
    color: white;
    padding: 20px;
    margin: 20px;
}

/* General */
h1 {
    text-align: center;
}

section {
    margin-left: auto;
    margin-right: auto;
}

/* Responsive funct*/
/* Sections */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #313f52;
}

.flex-container>section {
    min-width: 400px;
    padding: 20px;
}

/* Buttons */
#classes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/* Media queries */
@media (max-width: 1250px) {
    .flex-container {
        display: block;
    }
}
